<!-- # To Do:
# i forgor
# get this peer reviewed
# after that maybe get functionality? i dont know, probably not
# sadly abandon this project.
# it doesnt work as intended.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask Gameify My ToDo{% endblock %}</title>
</head>
<body>
    <header>
        {% block redirects %} {% endblock %}
        {% block theheader %} {% endblock %}
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <p>Flask Gameify My ToDo -- Flask + Jinja -- CWEB1116-01</p>
    </footer>
</body>
</html>