{% extends "base.html" %}

{% block title %} Flask - Pick To-Do List Pet {% endblock %}

{% block redirects %} 

    <a href="{{url_for('adminView')}}">Admin View</a>

{% endblock %}

{% block theheader %}

    <h1>Choose a Pet to Raise.</h1>

{% endblock %}

{% block content %}

    <p>Pick your pet, name it, and make a username and password to save your data. Once you are done, press the submit button.</p>
    <form action="{{url_for('pickapet')}}" method="POST">
        <input type="hidden" name="form_name" value="pickingapet">
        <pre>
 _._     _,-'""`-._
[,-.`._,'(       |\`-/|
    `-.-' \ )-`( , o o)
          `-    \`_`"'-
        </pre>
        <label for="Cat">Cat</label>
        <input type="radio" id="Cat" name="pickedpet" value="Cat">
        <pre>
 /^ ^\
/ 0 0 \
V\ Y /V
 / - \
 |    \
 || [__V
        </pre>
        <label for="Dog">Dog</label>
        <input type="radio" id="Dog" name="pickedpet" value="Dog">
        <br>
        <br>
        <label for="name">Name Your New Pet</label>
        <input type="text" id="Name" name="namedpet" value="Name">
        <br>
        <br>
        <label for="username">Enter in a Username</label>
        <input type="text" id="Username" name="username" value="Username" required>
        <br>
        <label for="password">Enter in a Password</label>
        <input type="text" id="Password" name="password" value="Password" required>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>

    <h1>Already owned a pet previously? Log in here.</h1>

    <form action="{{url_for('pickapet')}}" method="POST">

        <input type="hidden" name="form_name" value="login">
        <label for="username"></label>
        <input type="text" id="Username" name="username" value="Username" required>
        <label for="password">Enter in a Password</label>
        <input type="text" id="Password" name="password" value="Password" required>
        <input type="submit" value="Submit">
    
    </form>

    {% if error %}
    <p>{{error}}</p>
    {% endif %}

    {% if pickedpet == 'Cat' %}
    <p>You adopted a cat, and named it {{namedpet}}. Congratulations!</p>
    <p>Click this button to proceed.</p>
    <a class="yourNewPet" href="{{url_for('yourPet')}}">Continue</a>
    {% elif pickedpet == 'Dog' %}
    <p>You adopted a dog, and named it {{namedpet}}. Congratulations!</p>
    <p>Click this button to proceed.</p>
    <a class="yourNewPet" href="{{url_for('yourPet')}}">Continue</a>
    {%endif%}

{% endblock %}