{% extends "base.html" %}

{% block title %} Flask - Pick To-Do List Pet {% endblock %}

{% block theheader %}

    <h1>Your Pet</h1>

{% endblock %}

{% block content %}

    <p>The date is {{month}}/{{day}}/{{year}}.</p>
    <p>The time is {{time}}.</p>

    {%if cat%}
        <h1>This is your {{player.pickedpet}}, {{player.namedpet}}.</h1>
        <br>
        <pre>
 _._     _,-'""`-._
[,-.`._,'(       |\`-/|
    `-.-' \ )-`( , o o)
          `-    \`_`"'-
        </pre>

        <p>To take care of your pet, you must complete your tasks. Every time you complete a task, you get currency to buy your pet the things it needs to survive. Every stat goes down once in a while. Your job is to keep these stats as high as you can whilst managing resources.</p>
        <br>
        <p>{{player.namedpet}}'s Stats:</p>
        <p>Hunger: {{hunger}}</p>
        <p>Health: {{health}}</p>
        <p>Sleep: {{sleep}}</p>
        <p>Fun: {{fun}}</p>

    {%else%}
        <h1>This is your {{player.pickedpet}}, {{player.namedpet}}.</h1>
        <br>
        <pre>
 /^ ^\
/ 0 0 \
V\ Y /V
 / - \
 |    \
 || [__V
        </pre>
    {%endif%}

{% endblock %}