{% extends "base.html" %}

{% block title %} Flask - Pick To-Do List Pet {% endblock %}

{% block theheader %}

    <h1>Your Pet</h1>

{% endblock %}

{% block content %}

    <p>The date is {{month}}/{{day}}/{{year}}.</p>
    <p>The time is {{time}}.</p>

    {%if cat%}
        <h1>This is your {{data.choice}}, {{data.name}}.</h1>
        <br>
        <pre>
 _._     _,-'""`-._
[,-.`._,'(       |\`-/|
    `-.-' \ )-`( , o o)
          `-    \`_`"'-
        </pre>

        <p>{{newuser}}</p>
        <br>
        <p>{{data.name}}'s Stats:</p>
        <p>Hunger: {{hunger}}</p>
        <p>Health: {{health}}</p>
        <p>Sleep: {{sleep}}</p>
        <p>Fun: {{fun}}</p>

    {%else%}
        <h1>This is your {{data.pickedpet}}, {{data.namedpet}}.</h1>
        <br>
        <pre>
 /^ ^\
/ 0 0 \
V\ Y /V
 / - \
 |    \
 || [__V
        </pre>
    {%endif%}

{% endblock %}